*{
    margin: 0;
    padding: 0;
}
.nav-item{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}
ul{
    display: flex;
    gap: 17px;
    align-items: center;
    list-style: none;
    
}
.nav-text{
    font-weight: 500;
    font-size: 20px;
}
#gea1{
    background-color: #30B868;
    padding: 1pc 30px;
    border-radius: 10px;
    border: none;
    color: rgba(255, 255, 255, 1);;
}
.hero-bg{
    background-image: url(../assets/hero-bg.png);
    max-width: 100%;
    height: 519px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#eano{
    background-color: rgba(255, 255, 255, 1);
    color: #30B868;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    margin-top: 30px;
}
.fontaw{
    margin-right: 10px;
}
#hero-text1{
    margin-top: 15PX;
    font-size: 72px;
    color: #d6c9c9;
}
#hero-text2{
    font-size: 72px;
    color: #30B868; 
    margin-bottom: 15px;
}
#hero-desciption{
    color: #d6cccc;
    margin: 20px;
    font-size: 20px;

}
#sbyv-btn{
    background-color: #30b868;
    color: rgba(255, 255, 255, 1);
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    margin: 10px;
}
#shiw-btn{
    background-color: transparent;
    color: #ffffff;
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid whitesmoke;
    margin: 10px;
}
button :hover{
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(255, 255, 255);
}
.sec-container{
    text-align: center;
    margin-top: 30px;
    padding: 0px 15px;
    font-size: 48px;
}
.sec-container-description{
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
    padding-top: 20px;
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img{
    padding: 15px;
    width: 25px;
    height: 25px;
    border-radius: 60%;
    background-color: rgba(249, 85, 85, 1);
   
}
.card {
    height: 180px;
    width: 250px;
    text-align: center;
    padding: 30px;
    margin: 10px;
    box-shadow: 1px 1px 1px rgb(141, 145, 143);
}
.card-heading{
    margin: 15px;
}
.card-description{
    color: #050303;
}