*{
    margin: 0;
    padding: 0;
}
.nav-item{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}
ul{
    display: flex;
    gap: 17px;
    align-items: center;
    list-style: none;
    
}
.nav-text{
    font-weight: bold;
    font: sans-serif;
}
button{
    background-color: #30B868;
    padding: 0px 10px;
    border-radius: 4px;
    border-color: rgb(233, 245, 255);
    color: rgba(255, 255, 255, 1);;
}